USE [master]
GO
/****** Object:  Database [ParcialDB]    Script Date: 06/10/2020 16:11:57 ******/
CREATE DATABASE [ParcialDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ParcialDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ParcialDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ParcialDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ParcialDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ParcialDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ParcialDB]
GO
/****** Object:  Table [dbo].[FIESTA-ANIMACION]    Script Date: 06/10/2020 16:11:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIESTA-ANIMACION](
	[codfiesta] [int] NULL,
	[codgrupo] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[FIESTREPET]    Script Date: 06/10/2020 16:11:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[FIESTREPET]()
 returns table
 as
 RETURN  Select codfiesta FROM [FIESTA-ANIMACION]
     GROUP BY codfiesta 
     HAVING COUNT(*)>1;
GO
/****** Object:  Table [dbo].[ANIMACIONES]    Script Date: 06/10/2020 16:11:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANIMACIONES](
	[codgrupo] [int] NOT NULL,
	[tipo] [nvarchar](50) NULL,
	[fecha_inicio] [date] NULL,
	[cod_responsable] [int] NULL,
 CONSTRAINT [PK_ANIMACIONES] PRIMARY KEY CLUSTERED 
(
	[codgrupo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 06/10/2020 16:11:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[codcli] [int] NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[mes_nac] [int] NULL,
	[año_nac] [int] NULL,
	[responsable] [nvarchar](50) NULL,
	[telefono] [bigint] NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[codcli] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FIESTA-INFLABLE]    Script Date: 06/10/2020 16:11:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIESTA-INFLABLE](
	[codfiesta] [int] NULL,
	[codinf] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FIESTA-LOCL]    Script Date: 06/10/2020 16:11:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIESTA-LOCL](
	[codfiesta] [int] NOT NULL,
	[codloc] [int] NULL,
 CONSTRAINT [PK_FIESTA-LOCL] PRIMARY KEY CLUSTERED 
(
	[codfiesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FIESTAS]    Script Date: 06/10/2020 16:11:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIESTAS](
	[codfiesta] [int] NOT NULL,
	[codcli] [int] NULL,
	[fecha] [date] NULL,
 CONSTRAINT [PK_FIESTAS] PRIMARY KEY CLUSTERED 
(
	[codfiesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INFLABLES]    Script Date: 06/10/2020 16:11:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INFLABLES](
	[codinf] [int] NOT NULL,
	[superbase] [decimal](18, 2) NULL,
	[altura] [decimal](18, 2) NULL,
	[cantact] [int] NULL,
	[fechaincorp] [date] NULL,
 CONSTRAINT [PK_INFLABLES] PRIMARY KEY CLUSTERED 
(
	[codinf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCALES]    Script Date: 06/10/2020 16:11:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCALES](
	[codloc] [int] NOT NULL,
	[capacidad] [int] NULL,
	[dir] [nvarchar](50) NULL,
	[exterior] [bit] NULL,
 CONSTRAINT [PK_LOCALES] PRIMARY KEY CLUSTERED 
(
	[codloc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ANIMACIONES] ([codgrupo], [tipo], [fecha_inicio], [cod_responsable]) VALUES (1, N'magia', CAST(N'2003-03-03' AS Date), 4)
INSERT [dbo].[ANIMACIONES] ([codgrupo], [tipo], [fecha_inicio], [cod_responsable]) VALUES (3, N'titeres', CAST(N'2001-01-01' AS Date), 5)
INSERT [dbo].[ANIMACIONES] ([codgrupo], [tipo], [fecha_inicio], [cod_responsable]) VALUES (5, N'payasos', CAST(N'2007-07-07' AS Date), 6)
GO
INSERT [dbo].[CLIENTES] ([codcli], [nombre], [mes_nac], [año_nac], [responsable], [telefono]) VALUES (1, N'Lucas', 11, 1995, N'Es un estudiante responsable', 3492555888)
INSERT [dbo].[CLIENTES] ([codcli], [nombre], [mes_nac], [año_nac], [responsable], [telefono]) VALUES (2, N'Martin', 10, 1990, N'Gran persona', 777)
INSERT [dbo].[CLIENTES] ([codcli], [nombre], [mes_nac], [año_nac], [responsable], [telefono]) VALUES (4, N'Ricardo', 4, 1955, N'Comerciante buena persona', 77777777)
GO
INSERT [dbo].[FIESTA-ANIMACION] ([codfiesta], [codgrupo]) VALUES (6, 1)
INSERT [dbo].[FIESTA-ANIMACION] ([codfiesta], [codgrupo]) VALUES (8, 3)
INSERT [dbo].[FIESTA-ANIMACION] ([codfiesta], [codgrupo]) VALUES (9, 5)
GO
INSERT [dbo].[FIESTA-INFLABLE] ([codfiesta], [codinf]) VALUES (8, 2)
INSERT [dbo].[FIESTA-INFLABLE] ([codfiesta], [codinf]) VALUES (6, 1)
INSERT [dbo].[FIESTA-INFLABLE] ([codfiesta], [codinf]) VALUES (9, 3)
GO
INSERT [dbo].[FIESTA-LOCL] ([codfiesta], [codloc]) VALUES (6, 1)
INSERT [dbo].[FIESTA-LOCL] ([codfiesta], [codloc]) VALUES (8, 3)
INSERT [dbo].[FIESTA-LOCL] ([codfiesta], [codloc]) VALUES (9, 2)
GO
INSERT [dbo].[FIESTAS] ([codfiesta], [codcli], [fecha]) VALUES (6, 1, CAST(N'2002-02-02' AS Date))
INSERT [dbo].[FIESTAS] ([codfiesta], [codcli], [fecha]) VALUES (8, 4, CAST(N'2007-07-07' AS Date))
INSERT [dbo].[FIESTAS] ([codfiesta], [codcli], [fecha]) VALUES (9, 2, CAST(N'2005-04-03' AS Date))
GO
INSERT [dbo].[INFLABLES] ([codinf], [superbase], [altura], [cantact], [fechaincorp]) VALUES (1, CAST(12.50 AS Decimal(18, 2)), CAST(20.60 AS Decimal(18, 2)), 3, CAST(N'2004-04-04' AS Date))
INSERT [dbo].[INFLABLES] ([codinf], [superbase], [altura], [cantact], [fechaincorp]) VALUES (2, CAST(10.40 AS Decimal(18, 2)), CAST(5.10 AS Decimal(18, 2)), 5, CAST(N'2007-07-07' AS Date))
INSERT [dbo].[INFLABLES] ([codinf], [superbase], [altura], [cantact], [fechaincorp]) VALUES (3, CAST(11.10 AS Decimal(18, 2)), CAST(2.22 AS Decimal(18, 2)), 2, CAST(N'2002-02-02' AS Date))
GO
INSERT [dbo].[LOCALES] ([codloc], [capacidad], [dir], [exterior]) VALUES (1, 200, N'San Juan 120', 1)
INSERT [dbo].[LOCALES] ([codloc], [capacidad], [dir], [exterior]) VALUES (2, 300, N'9 de Julio 220', 0)
INSERT [dbo].[LOCALES] ([codloc], [capacidad], [dir], [exterior]) VALUES (3, 250, N'Bolivar 350', 1)
GO
ALTER TABLE [dbo].[FIESTA-ANIMACION]  WITH CHECK ADD  CONSTRAINT [FK_FIESTA-ANIMACION_ANIMACIONES] FOREIGN KEY([codgrupo])
REFERENCES [dbo].[ANIMACIONES] ([codgrupo])
GO
ALTER TABLE [dbo].[FIESTA-ANIMACION] CHECK CONSTRAINT [FK_FIESTA-ANIMACION_ANIMACIONES]
GO
ALTER TABLE [dbo].[FIESTA-ANIMACION]  WITH CHECK ADD  CONSTRAINT [FK_FIESTA-ANIMACION_FIESTAS] FOREIGN KEY([codfiesta])
REFERENCES [dbo].[FIESTAS] ([codfiesta])
GO
ALTER TABLE [dbo].[FIESTA-ANIMACION] CHECK CONSTRAINT [FK_FIESTA-ANIMACION_FIESTAS]
GO
ALTER TABLE [dbo].[FIESTA-INFLABLE]  WITH CHECK ADD  CONSTRAINT [FK_FIESTA-INFLABLE_FIESTAS] FOREIGN KEY([codfiesta])
REFERENCES [dbo].[FIESTAS] ([codfiesta])
GO
ALTER TABLE [dbo].[FIESTA-INFLABLE] CHECK CONSTRAINT [FK_FIESTA-INFLABLE_FIESTAS]
GO
ALTER TABLE [dbo].[FIESTA-INFLABLE]  WITH CHECK ADD  CONSTRAINT [FK_FIESTA-INFLABLE_INFLABLES] FOREIGN KEY([codinf])
REFERENCES [dbo].[INFLABLES] ([codinf])
GO
ALTER TABLE [dbo].[FIESTA-INFLABLE] CHECK CONSTRAINT [FK_FIESTA-INFLABLE_INFLABLES]
GO
ALTER TABLE [dbo].[FIESTA-LOCL]  WITH CHECK ADD  CONSTRAINT [FK_FIESTA-LOCL_FIESTAS] FOREIGN KEY([codfiesta])
REFERENCES [dbo].[FIESTAS] ([codfiesta])
GO
ALTER TABLE [dbo].[FIESTA-LOCL] CHECK CONSTRAINT [FK_FIESTA-LOCL_FIESTAS]
GO
ALTER TABLE [dbo].[FIESTA-LOCL]  WITH CHECK ADD  CONSTRAINT [FK_FIESTA-LOCL_LOCALES] FOREIGN KEY([codloc])
REFERENCES [dbo].[LOCALES] ([codloc])
GO
ALTER TABLE [dbo].[FIESTA-LOCL] CHECK CONSTRAINT [FK_FIESTA-LOCL_LOCALES]
GO
ALTER TABLE [dbo].[FIESTAS]  WITH CHECK ADD  CONSTRAINT [FK_FIESTAS_CLIENTES] FOREIGN KEY([codcli])
REFERENCES [dbo].[CLIENTES] ([codcli])
GO
ALTER TABLE [dbo].[FIESTAS] CHECK CONSTRAINT [FK_FIESTAS_CLIENTES]
GO
/****** Object:  StoredProcedure [dbo].[FIESTREP]    Script Date: 06/10/2020 16:11:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FIESTREP]
 as
 Select codfiesta FROM [FIESTA-ANIMACION]
     GROUP BY codfiesta 
     HAVING COUNT(*)>1;
GO
USE [master]
GO
